@font-face { 
  font-family: 'Lintel';
  src: url(/static/fonts/Lintel_Reg-webfont.ttf) format('truetype'); 
}
@font-face { 
  font-family: 'PrintChar';
  src: url(/static/fonts/PrintChar21.ttf) format('truetype'); 
}
@font-face { 
  font-family: 'PR';
  src: url(/static/fonts/PRNumber3.ttf) format('truetype'); 
}
@font-face { 
  font-family: 'Iosevka';
  src: url(/static/fonts/iosevka-regular.ttf) format('truetype'); 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EFEFEF;
  color: #222;
  text-shadow: .2px .2px #eecccc;
}
p {
  text-align: center;
  font-family: Lintel;
}
.slide {
  background-size: cover;
}
.slide strong {
  color: purple;
}
.slide h1 {
  text-align: center;
  font-family: Lintel;
  font-weight: 400;
  font-size: 2.6rem;
}
.slide h2 {
  text-align: center;
  font-family: Lintel;
  font-weight: 300;
  font-size: 2.4rem;
}
.slide h6 {
  text-align: center;
  font-family: Lintel;
  font-size: 0.5rem;
}
.slide pre {
  font-family: Iosevka;
  background-color: #333;
  padding: 10px;
  border-radius: 3px;
}
